p {
    font-family: 'Roboto', Arial;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    /*this style below will be inherited*/
    font-family: Roboto, Arial;
    margin: 0;
    margin-top: 80px;
    padding-left: 96px;      
    padding-right: 24px;                          
    background-color: #f8f9fa;
}